ul{
    list-style-type: lower-roman; /* liste madde imlerini yok eder */
    /*
    
    list-style-type: disk; --> daire
     " " " "  "   ": circle; --> çember
     " "    "  ""  : square; --> kare
     " "   ""  ""  : decimal; --> numara
     " "   ""  ""  : lower-alpha; --> küçük harf , a-b-c
     " "   ""  ""  : lower-greek; --> yunanca küçük harf
     " "   ""  ""  : lower-latin; --> latince küçük harf , a-b-c
     " "   ""  ""  : lower-roman; --> küçük roma rakamı , i-ii-iii-iv
     " "   ""  ""  : upper-alpha; --> büyük harf , A-B-C
     " "   ""  ""  : upper-greek; --> yunanca büyük harf
     " "   ""  ""  : upper-latin; --> latince büyük harf , A-B-C
     " "   ""  ""  : upper-roman --> büyük roma rakamı , I-II-III-IV
    " "   ""  ""  : url("resim.jpg"); --> madde imi yerine resim gösterilir.

    */
}
li{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color:goldenrod;
    padding: 5px;
    margin: 5px;
    /* yazı ile ilgili işlemler */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    color:cornflowerblue;
    background-color: crimson;
}